@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Tilt+Warp&display=swap");



@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	font-size : 18px;
	margin: 40px;
}

h1,h2,h3 {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

a {
	text-decoration: none;
}

h2{
	font-size: 35px;
}

h3 {
	font-size: 12px;
	font-weight: 300;
	font-family:"Roboto", sans-serif;

}


